* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  user-select: none;
}
nav li {
  outline: 0;
}
nav li a {
  text-decoration: none;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  z-index: 10;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-nav .site-nav {
  position: relative;
  display: block;
  width: 180px;
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.header-nav .site-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out 0.2s;
}
.header-nav .site-nav li:hover {
  background-color: #ffadad;
}
.header-nav .site-nav a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 1rem;
  transition: all 0.1s linear;
  padding: 15px 0;
}
.header-nav .site-nav a:hover {
  color: #333;
}
.header-nav .site-nav a .nav-icon {
  height: 50px;
}
.header-nav:hover {
  width: 180px;
  overflow: visible;
  background-color: rgb(238, 229, 227);
}

.active {
  background-color: rgb(255, 214, 214);
}

.vertical-text {
  position: fixed;
  bottom: 0;
  font-family: "the-seasons", sans-serif;
  font-size: 3em;
  padding: 0.25em;
  text-transform: lowercase;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-bottom: 0.6em;
}

.footer-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 75px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  z-index: 10;
  padding-top: 15px;
}
.footer-nav li {
  position: relative;
  display: block;
  width: 180px;
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: all 0.2s ease-out 0.2s;
}
.footer-nav li:hover {
  text-decoration: none;
  background-color: #ffadad;
}
.footer-nav li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 1rem;
  transition: all 0.1s linear;
  padding: 15px 0;
}
.footer-nav li a:hover {
  color: #333;
}
.footer-nav li a .nav-icon {
  height: 50px;
}
.footer-nav:hover {
  width: 180px;
  overflow: visible;
  background-color: rgb(238, 229, 227);
}

.nav-text {
  width: 100px;
  height: 25px;
  padding: 0 15px;
}

.active {
  background-color: rgb(255, 214, 214);
}

.footer-tagline {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "apparat-light", sans-serif;
  font-size: 1.5em;
  padding: 1em;
  text-transform: lowercase;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.section-title {
  display: flex;
  justify-content: center;
}

.work {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 25px;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  filter: grayscale(1);
  transition: 0.5s;
}
.card:hover {
  filter: grayscale(0);
}
.card .poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 25%;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  z-index: 2;
}
.card .details h1 {
  color: #333;
  font-size: 1.5em;
  padding: 1em;
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}

.card:hover .details {
  bottom: 0;
}

.card2:hover .details {
  bottom: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1400px;
  padding: 0 75px;
  margin: 0 auto;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70svh;
}
.hero .title {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 3em 0;
}
.hero .title h1 {
  font-family: "liebelotte-swell", sans-serif;
  color: #ffadad;
  text-transform: none;
  font-size: clamp(4em, 18vw, 18em);
  line-height: 1;
}
.hero .title h2 {
  font-family: "the-seasons", sans-serif;
  text-transform: none;
  font-size: clamp(2em, 5vw, 5em);
}

.moving-down-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  transform: translateX(-50%);
}
.moving-down-arrow .arrow-down {
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: scroll 1.5s ease-out infinite;
}
.moving-down-arrow .arrow-down:before, .moving-down-arrow .arrow-down:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #333;
}
.moving-down-arrow .arrow-down:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.moving-down-arrow .arrow-down:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes scroll {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(45px);
  }
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
.projects .title {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5em auto;
}

.about {
  margin-bottom: 10em;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .container .about-me {
  display: flex;
  align-items: center;
  margin: 2em;
}
.about .container .about-me h1 {
  font-family: "liebelotte-swell", sans-serif;
  color: #333;
  text-transform: none;
  font-size: clamp(4em, 18vw, 18em);
}
.about .container .about-me p {
  font-family: "apparat-light", sans-serif;
  line-height: 1.5;
}
.about .container .button {
  text-decoration: none;
  padding: 2em;
  color: white;
  background-color: #333;
  padding: 1em 1.5em;
  margin: 2em;
  transition: all 0.3s ease-out;
}
.about .container .button:hover {
  background-color: #ffadad;
  color: #333;
}
.about .container .contact-info {
  display: flex;
  flex-direction: column;
}
.about .container .contact-info h3 {
  font-family: "the-seasons", sans-serif;
  text-transform: none;
  font-size: clamp(2em, 3vw, 3em);
  text-transform: capitalize;
  margin: 2em auto 0.5em auto;
}
.about .container .contact-info span {
  font-family: "apparat-light", sans-serif;
}
.about .container .contact-info a {
  text-decoration: none;
  font-family: "apparat-light", sans-serif;
}

.casestudy-main {
  width: 100%;
}
.casestudy-main img,
.casestudy-main video {
  box-shadow: 5px 5px 5px rgba(88, 88, 88, 0.7);
}
.casestudy-main .casestudy-project-overview {
  margin-bottom: 10em;
}
.casestudy-main .casestudy-project-overview .casestudy-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-title {
  font-family: "the-seasons", sans-serif;
  color: #333;
  margin-top: 1.5em;
  font-size: clamp(3em, 9vw, 9em);
  text-align: center;
  text-transform: none;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-hero-image,
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-hero-video {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5em;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-hero-image img,
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-hero-image video,
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-hero-video img,
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-hero-video video {
  height: 700px;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-hero-embed {
  margin-bottom: 5em;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview {
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 5em auto;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview p {
  font-family: "apparat-light", sans-serif;
  line-height: 1.5;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-software,
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-year {
  display: flex;
  flex-direction: column;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-software h3,
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-year h3 {
  font-family: "the-seasons", sans-serif;
  font-size: clamp(1.5em, 2vw, 2em);
  margin-top: 0.5em;
  text-transform: none;
}
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-software span,
.casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-year span {
  font-family: "apparat-light", sans-serif;
  line-height: 1.5;
}
.casestudy-main .casestudy-project-process {
  overflow: hidden;
}
.casestudy-main .casestudy-project-process .casestudy-process {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.casestudy-main .casestudy-project-process .casestudy-process p {
  padding-bottom: 0.9em;
  font-family: "apparat-light", sans-serif;
  line-height: 1.5;
}
.casestudy-main .casestudy-project-process .casestudy-process .body-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.casestudy-main .casestudy-project-process .casestudy-process .body-copy h4 {
  line-height: 1.5;
}
.casestudy-main .casestudy-project-process .casestudy-process-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.casestudy-main .casestudy-project-process .casestudy-process-images.quest img {
  border: none;
  box-shadow: none;
}
.casestudy-main .casestudy-project-process .casestudy-process-images .image-collection {
  display: flex;
  justify-content: center;
}
.casestudy-main .casestudy-project-process .casestudy-process-videos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.casestudy-main .casestudy-project-process .smaller {
  height: 250px;
  margin: 0;
}
.casestudy-main .casestudy-project-process img {
  max-height: 750px;
  max-width: 100%;
  margin: 1em;
}
.casestudy-main .casestudy-project-process .caption {
  display: flex;
  align-items: start;
}
.casestudy-main .casestudy-project-process .caption .image-caption {
  font-family: "the-seasons", sans-serif;
  text-transform: capitalize;
  font-size: clamp(2em, 5vw, 5em);
  margin: 1em 0;
}
.casestudy-main .casestudy-project-process .caption .section-line {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.casestudy-main .casestudy-project-process .caption .section-line:after {
  content: "";
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #333;
  z-index: -1;
}
.casestudy-main .casestudy-project-process .caption .section-line.swapped {
  flex-direction: row-reverse;
}
.casestudy-main .casestudy-more-projects {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10em;
}
.casestudy-main .casestudy-more-projects .container {
  width: 800px;
}
.casestudy-main .casestudy-more-projects .container .more-projects {
  display: flex;
  justify-content: space-between;
}
.casestudy-main .casestudy-more-projects .container .more-projects .previous-project,
.casestudy-main .casestudy-more-projects .container .more-projects .next-project {
  display: flex;
  align-items: center;
  justify-content: center;
}
.casestudy-main .casestudy-more-projects .container .more-projects a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffadad;
  font-family: "the-seasons", sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 3;
  transition: all 0.3s ease-out;
}
.casestudy-main .casestudy-more-projects .container .more-projects a:hover {
  color: #333;
}

.bt-images {
  height: 500px;
  max-width: 100%;
}

.fittree-squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "apparat-light", sans-serif;
}
.fittree-squares :nth-child(1) {
  background-color: #1A2207;
}
.fittree-squares :nth-child(2) {
  background-color: #1E3F00;
}
.fittree-squares :nth-child(3) {
  background-color: #465705;
}
.fittree-squares :nth-child(4) {
  background-color: #75982C;
}
.fittree-squares :nth-child(5) {
  background-color: #D1EAA0;
}
.fittree-squares :nth-child(6) {
  background-color: #E8D3BC;
}
.fittree-squares .square {
  width: 100px;
  height: 100px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fittree-squares .square h4 {
  background-color: transparent;
  color: white;
}

.fittree-type {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fittree-type img {
  height: 50px;
  border: none;
  box-shadow: none;
}

.fittree-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fittree-images img {
  border: none;
  box-shadow: none;
}

.fittree-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "apparat-light", sans-serif;
  font-weight: 700;
  color: #333;
  padding: 1.5em;
  background-color: rgb(255, 214, 214);
  border-radius: 24px;
  margin: 0.5em;
}
.fittree-button:hover {
  background-color: #333;
  color: #ffadad;
  font-style: italic;
}

.menu-icon-img {
  max-height: 300px;
  object-fit: cover;
  width: auto;
}

.menu-icon-codepen .one-whole {
  display: block;
}
.menu-icon-codepen .one-whole .codepen {
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}

.themoon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.themoon .circle {
  background-color: #333;
  border: 1px solid #333;
  margin: 1em;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.themoon :nth-child(2) {
  box-shadow: inset -20px 0 0 0 #fff;
}
.themoon :nth-child(3) {
  position: relative;
  overflow: hidden;
}
.themoon :nth-child(3):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-radius: 0 100% 100% 0;
}
.themoon :nth-child(4) {
  background: white;
  box-shadow: inset 20px 0 0 0 #333;
}
.themoon :nth-child(5) {
  background: white;
}
.themoon :nth-child(6) {
  transform: rotate(180deg);
  background: white;
  box-shadow: inset 20px 0 0 0 #333;
}
.themoon :nth-child(7) {
  transform: rotate(180deg);
  position: relative;
  overflow: hidden;
}
.themoon :nth-child(7):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-radius: 0 100% 100% 0;
}
.themoon :nth-child(8) {
  transform: rotate(180deg);
  box-shadow: inset -20px 0 0 0 #fff;
}

.code-block {
  display: flex;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.code-block .moon-wrapper {
  width: 100px;
  height: 100px;
  margin: 50px 150px 50px 50px;
  position: relative;
  /*   overflow: hidden; */
}

.code-block .moon {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid black;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.code-block .mask {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px dashed red;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.code-block .waxing-crescent .mask {
  translate: 100% 0;
  border-color: red;
  animation-name: waxing-crescent;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes waxing-crescent {
  0% {
    translate: 100% 0;
    border-color: red;
  }
  30% {
    translate: 25% 0;
    border-color: white;
  }
  60% {
    translate: 25% 0;
    border-color: white;
  }
  90% {
    translate: 100% 0;
    border-color: red;
  }
}
.code-block .first-quarter .mask {
  border-radius: 0;
  translate: 100% 0;
  border-color: black;
  animation-name: first-quarter;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes first-quarter {
  0% {
    translate: 100% 0;
    border-color: black;
  }
  30% {
    translate: 50% 0;
    border-color: white;
  }
  60% {
    translate: 50% 0;
    border-color: white;
  }
  90% {
    translate: 100% 0;
    border-color: black;
  }
}
.quest-squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "apparat-light", sans-serif;
}
.quest-squares :nth-child(1) {
  background-color: #000000;
  color: white;
}
.quest-squares :nth-child(2) {
  background-color: #00AD95;
}
.quest-squares :nth-child(3) {
  background-color: #FAAC72;
}
.quest-squares :nth-child(4) {
  background-color: #E6E6E6;
}
.quest-squares :nth-child(5) {
  background-color: #81298E;
}
.quest-squares :nth-child(6) {
  background-color: #ACD037;
}
.quest-squares :nth-child(7) {
  background-color: #F1607D;
}
.quest-squares :nth-child(8) {
  background-color: #EFE128;
}
.quest-squares .square {
  width: 100px;
  height: 100px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quest-squares .square h4 {
  background-color: transparent;
  color: white;
}

.quest-logo {
  max-height: 300px;
}

.illustrations .illustrations-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.illustrations .illustrations-images img {
  max-height: 500px;
  margin: 0.5em;
}

.casestudy-process .button {
  text-decoration: none;
  padding: 1em 1.5em;
  margin: 0.5em;
  background-color: #333;
  color: rgb(255, 214, 214);
  transition: all 0.3s ease-out;
}
.casestudy-process .button:hover {
  background-color: rgb(255, 214, 214);
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-family: "apparat-light", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(3em, 15vw, 15em);
}

h2 {
  font-size: clamp(2em, 10vw, 10em);
  color: #333;
}

h3 {
  font-size: clamp(1em, 5vw, 5em);
  color: #333;
}

h4 {
  font-size: clamp(0.8em, 1vw, 1em);
  color: black;
}

p {
  max-width: clamp(500px, 25vw, 750px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.row.swapped {
  flex-direction: row-reverse;
}
.row > * {
  margin: 1%;
  flex-grow: 1;
}
.row .centered {
  margin: 0 auto;
}
.row .one-whole {
  width: 98%;
}
.row .one-half {
  width: 48%;
}
.row .one-third {
  width: 31.333%;
}
.row .two-thirds {
  width: 64.666%;
}
.row .one-fourth {
  width: 23%;
}
.row .three-fourths {
  width: 73%;
}
.row .push-one-fourth {
  margin-left: 26%;
}
.row .push-one-third {
  margin-left: 34.333%;
}
.row .push-one-half {
  margin-left: 51%;
}
.row .centered {
  margin-left: auto;
  margin-right: auto;
}

img {
  height: clamp(200px, 100%, 400px);
  object-fit: cover;
}

@media (max-width: 767px) {
  .gist .gist-file {
    max-width: 300px;
  }
  .swiper {
    max-width: 300px;
    max-height: 500px;
  }
  .swiper img {
    height: 300px;
  }
  img,
  video {
    height: 200px;
    max-width: 100%;
  }
  .header-nav,
  .footer-nav,
  .footer-tagline,
  .arrow-left,
  .arrow-right {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .mobile-nav {
    position: fixed;
    bottom: 0;
    height: 75px;
    overflow: hidden;
    width: 100%;
    background: #fff;
    z-index: 10;
  }
  .mobile-nav ul {
    display: flex;
    justify-content: center;
  }
  .mobile-nav li {
    list-style: none;
    display: block;
  }
  .mobile-nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 1rem;
    padding: 10px 50px;
  }
  .mobile-nav li a .nav-icon {
    height: 50px;
  }
  .mobile-nav li a .nav-icon img {
    object-fit: cover;
  }
  .caption {
    align-items: center;
    justify-content: center;
  }
  .caption .section-line {
    justify-content: center;
  }
  .code-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
  }
  .container {
    max-width: 600px;
    padding: 0;
    margin: 0;
  }
  .casestudy-main p {
    font-size: 85%;
    text-align: center;
  }
  .casestudy-main img {
    max-height: 200px;
    width: auto;
    box-shadow: none;
  }
  .casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview {
    width: 100%;
    margin: 2em 0;
  }
  .casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-software,
  .casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-year {
    justify-content: center;
    text-align: center;
  }
  .casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-software h3,
  .casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-year h3 {
    text-transform: uppercase;
  }
  .casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-software span,
  .casestudy-main .casestudy-project-overview .casestudy-hero .casestudy-overview .casestudy-year span {
    font-size: 80%;
  }
  .casestudy-main .casestudy-project-process {
    margin: 0;
  }
  .casestudy-main .casestudy-project-process .caption {
    align-items: center;
  }
  .casestudy-main .casestudy-project-process .caption .image-caption {
    margin: 0;
  }
  .casestudy-main .casestudy-project-process .casestudy-process .section-line {
    gap: 0;
  }
  .casestudy-main .casestudy-project-process .casestudy-process .section-line:after {
    width: 0;
  }
  .casestudy-main .casestudy-project-process .casestudy-process .body-copy {
    min-width: 350px;
  }
  .casestudy-main .casestudy-project-process .casestudy-process .casestudy-process-images,
  .casestudy-main .casestudy-project-process .casestudy-process .casestudy-process-videos {
    width: auto;
  }
  .casestudy-main .casestudy-more-projects {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .casestudy-main .casestudy-more-projects .more-projects .previous-project,
  .casestudy-main .casestudy-more-projects .more-projects .next-project {
    padding: 0.5em;
  }
  .casestudy-main .casestudy-more-projects .more-projects a {
    border: 1px solid #333;
    padding: 0.5em;
  }
  .casestudy-main .casestudy-more-projects .more-projects span {
    font-size: 75%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-direction: column;
  }
  .row .one-half {
    width: 100%;
  }
  .row .image-collection {
    display: flex;
    flex-direction: column;
  }
  .row .image-collection img {
    margin: 1.5em;
  }
  .fittree-type,
  .fittree-images {
    display: flex;
    flex-wrap: wrap;
  }
  .fittree-type img,
  .fittree-images img {
    max-height: 50px;
  }
  .illustrations-images {
    flex-direction: column;
  }
}
@media (min-width: 767px) {
  .mobile-nav {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
}
body .gist .gist-file {
  margin: 1em;
  border: 1px solid #333 !important;
  border-radius: 0;
}
body .gist .gist-file .gist-data {
  border-radius: 0;
  border-bottom: none;
}
body .gist .gist-file .gist-data .blob-num {
  background-color: #333;
  color: #ffadad;
  pointer-events: none;
}
body .gist .gist-file .gist-data .blob-code {
  font-size: 105%;
}
body .gist .gist-file .gist-meta {
  display: none;
}

.swiper {
  width: 1000px;
  height: 700px;
}
.swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper .swiper-pagination-bullet {
  background-color: #333 !important;
  margin: 1.5em;
}

[data-scroll=scalex].section-line {
  --line-scale-x: 0;
  --line-transform-origin: left;
}
[data-scroll=scalex].section-line::after {
  scale: var(--line-scale-x) 1;
  transform-origin: var(--line-transform-origin);
  transition: scale 1s ease-in-out;
}
[data-scroll=scalex].section-line[data-inview] {
  --line-scale-x: 1;
}