* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  user-select: none;
}
nav li {
  outline: 0;
}
nav li a {
  text-decoration: none;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75px;
  overflow: hidden;
  background: rgba(255, 224, 220, 0.5);
  transition: width 0.05s linear;
  z-index: 10;
  padding-top: 15px;
}
.header-nav .site-nav {
  position: relative;
  display: block;
  width: 180px;
  font-family: beloved-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.header-nav .site-nav li:hover {
  background-color: rgb(250, 187, 187);
}
.header-nav .site-nav a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #F88379;
  font-size: 1rem;
  transition: all 0.1s linear;
  padding: 15px 0;
}
.header-nav .site-nav a:hover {
  color: #F88379;
}
.header-nav .site-nav a .nav-icon {
  width: 75px;
  height: 25px;
  font-size: 30px;
  text-align: center;
}
.header-nav:hover {
  width: 180px;
  overflow: visible;
}

.nav-text {
  width: 100px;
  height: 25px;
}

.active {
  background-color: rgb(250, 187, 187);
}

.footer-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 75px;
  overflow: hidden;
  background: rgba(111, 87, 84, 0.5);
  transition: width 0.05s linear;
  z-index: 10;
  padding-top: 15px;
}
.footer-nav li {
  position: relative;
  display: block;
  width: 180px;
  font-family: beloved-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.footer-nav li:hover {
  text-decoration: none;
  background-color: rgb(250, 187, 187);
}
.footer-nav li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(77, 52, 49);
  font-size: 1rem;
  transition: all 0.1s linear;
  padding: 15px 0;
}
.footer-nav li a:hover {
  color: rgb(77, 52, 49);
}
.footer-nav li a .nav-icon {
  width: 75px;
  height: 25px;
  font-size: 30px;
  text-align: center;
}
.footer-nav:hover {
  width: 180px;
  overflow: visible;
}

.nav-text {
  width: 100px;
  height: 25px;
}

.active {
  background-color: rgb(250, 187, 187);
}

.section-title {
  display: flex;
  justify-content: center;
}

.work {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 25px;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card .poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.card .details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 75%;
  background: rgba(206, 189, 189, 0.9);
  transition: 0.3s;
  color: rgb(77, 52, 49);
  z-index: 2;
}
.card .details a {
  text-decoration: none;
}
.card .details h1,
.card .details h2 {
  color: #443e44;
  font-family: helvetica;
}
.card .details h1 {
  font-size: 1.5em;
  padding: 1em 0.5em 0.5em 0.5em;
}
.card .details h2 {
  font-size: 1em;
  padding: 0 0.5em 0.25em 0.5em;
}
.card .details .desciption {
  color: rgb(77, 52, 49);
  font-family: "new-order", sans-serif;
  font-size: clamp(0.5em, 0.8vw, 0.8em);
  max-width: 350px;
  opacity: 0.8;
  line-height: 1.5;
  margin: 2em auto;
}
.card .details .tags {
  background-color: rgb(77, 52, 49);
  display: flex;
  width: 100%;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.875em;
  font-size: 0.55em;
  font-family: new-order, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5em;
}
.card .details .tags .tag {
  padding: 1.5em;
  color: rgb(250, 187, 187);
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}

.card:hover .details {
  bottom: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #F88379, rgb(250, 187, 187));
  grid-template-columns: repeat(12, 1fr);
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero .title {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hero .title h1 {
  font-family: "handsome-pro", sans-serif;
  color: rgb(250, 187, 187);
  text-transform: none;
  font-size: clamp(4em, 18vw, 18em);
}
.hero .title h2 {
  font-family: "rufina", sans-serif;
  text-transform: none;
  font-size: clamp(2em, 5vw, 5em);
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
.projects .title {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5em auto;
}

.project-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.project-page h1 {
  text-align: center;
  font-family: "rufina", sans-serif;
  color: rgb(250, 187, 187);
  font-size: clamp(5em, 10vw, 10em);
}
.project-page .project-info {
  display: grid;
  align-items: center;
}
.project-page .project-info .overview h3 {
  font-size: 1.5em;
  font-family: "new-order", sans-serif;
}
.project-page .project-info .overview span {
  font-size: 1em;
  font-family: "new-order", sans-serif;
  color: #333;
  line-height: 1.5;
}
.project-page .project-info .overview .software,
.project-page .project-info .overview .year {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.project-page .project-info .challenge {
  font-size: 1em;
  font-family: "new-order", sans-serif;
  color: #333;
  text-align: left;
  line-height: 1.5;
}

hr {
  height: 3px;
  border-width: 0;
  background-color: #333;
  width: 10%;
  margin: 2em auto;
}

h1,
h2,
h3 {
  font-family: "new-order", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(3em, 15vw, 15em);
}

h2 {
  font-size: clamp(2em, 10vw, 10em);
  color: rgb(77, 52, 49);
}

h3 {
  font-size: clamp(1em, 5vw, 5em);
  color: rgb(77, 52, 49);
}

p {
  width: 25vw;
}

/* GRID SYSTEM */
.row {
  --gridgap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gridgap);
  }
  .row.vertical-centered {
    align-items: center;
  }
  .row.swapped > *:first-child {
    order: 2;
  }
  .row.swapped > *:last-child {
    order: 1;
  }
  .one-whole {
    grid-column: span 12/span 12;
  }
  .one-half {
    grid-column: span 6/span 6;
  }
  .one-third {
    grid-column: span 4/span 4;
  }
  .two-thirds {
    grid-column: span 8/span 8;
  }
  .one-fourth {
    grid-column: span 3/span 3;
  }
  .three-fourths {
    grid-column: span 9/span 9;
  }
  .one-half.centered {
    grid-column-start: 4;
  }
  .one-third.centered {
    grid-column-start: 5;
  }
  .two-thirds.centered {
    grid-column-start: 3;
  }
  .col_2-12 {
    grid-column: 2/12;
  }
  .challenge {
    grid-column: 3/6;
  }
  .overview {
    grid-column: 9/11;
  }
  .col_1-5 {
    grid-column: 1/6;
  }
  .col_2-5 {
    grid-column: 2/6;
  }
  .col_7-11 {
    grid-column: 7/12;
  }
  .col_7-12 {
    grid-column: 7/13;
  }
}
/* FOR DEMO GRID ONLY */
.demo .row {
  margin-bottom: 0;
  padding: 0;
}

.demo .row > * {
  text-align: center;
}

img {
  width: 100%;
}

@media (max-width: 767px) {
  .header-nav,
  .footer-nav {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .mobile-nav {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    overflow: hidden;
    background: rgba(111, 87, 84, 0.5);
    transition: width 0.05s linear;
    z-index: 10;
  }
  .mobile-nav ul {
    display: flex;
  }
  .mobile-nav li {
    display: block;
    flex-direction: row;
    width: 180px;
    font-family: beloved-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .mobile-nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(77, 52, 49);
    font-size: 1rem;
    padding: 25px 0;
  }
  .mobile-nav li a .nav-icon {
    width: 75px;
    height: 25px;
    font-size: 30px;
    text-align: center;
  }
}
@media (min-width: 767px) {
  .mobile-nav {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
}