* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// VARIABLES
// $light-pink: rgb(250, 187, 187);
// $sand: rgb(209, 181, 173);
$coffee: rgb(77, 52, 49);
// $coral: #F88379;

$light-pink: rgb(255, 230, 230);
$sand: rgb(238, 229, 227);
$coral: #ffc5c5;

$script: "handsome-pro", sans-serif;
$body: "new-order", sans-serif;
$title: "rufina", sans-serif;



@import "partials/header";
@import "partials/footer";
@import "partials/projectcards";
@import "partials/structure";
@import "partials/case-study";
@import "partials/typography";
@import "partials/grid";
@import "partials/media";