// SCROLL TRIGGERED ANIMATIONS

[data-scroll="scalex"].section-line {
    --line-scale-x: 0;
    --line-transform-origin: left;

    &:after {
        scale: var(--line-scale-x) 1;
        transform-origin: left;
        transition: scale 1s ease-in-out;
    }


    &[data-inview] {
        --line-scale-x: 1;
    }
}