.footer-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 75px;
    overflow: hidden;
    // border-left: 2px solid $light-pink;
    background: rgba(255, 255, 255, 0.5);
    transition: all .3s ease-out;
    z-index: 10;
    padding-top: 15px;

    li {
        position: relative;
        display: block;
        width: 180px;
        font-family: $title;
        font-weight: 700;
        font-style: normal;
        transition: all .2s ease-out .2s;

        &:hover {
            text-decoration: none;
            background-color: $coral;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: $coffee;
            font-size: 1rem;
            transition: all 0.1s linear;
            padding: 15px 0;

            &:hover {
                color: $coffee;
            }

            .nav-icon {
                height: 50px;
            }
        }
    }

    &:hover {
        width: 180px;
        overflow: visible;
        background-color: $sand;
    }
}

.nav-text {
    width: 100px;
    height: 25px;
    padding: 0 15px;
}

.active {
    background-color: $light-pink;
}

.footer-tagline {
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: $body;
    font-size: 1.5em;
    padding: 1em;
    text-transform: lowercase;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}