$gridgap: 2%;

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($gridgap / 2);
    margin-right: -($gridgap / 2);
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;

    &.swapped {
        flex-direction: row-reverse;
    }

    >* {
        margin: ($gridgap / 2);
        flex-grow: 1;
    }

    .centered {
        margin: 0 auto;
    }

    .one-whole {
        width: 100%-$gridgap;
    }

    .one-half {
        width: 50%-$gridgap;
    }

    .one-third {
        width: 33.333%-$gridgap;
    }

    .two-thirds {
        width: 66.666%-$gridgap;
    }

    .one-fourth {
        width: 25%-$gridgap;
    }

    .three-fourths {
        width: 75%-$gridgap;
    }

    .push-one-fourth {
        margin-left: 25%+($gridgap/2);
    }

    .push-one-third {
        margin-left: 33.333%+($gridgap/2);
    }

    .push-one-half {
        margin-left: 50%+($gridgap/2);
    }

    .centered {
        margin-left: auto;
        margin-right: auto;
    }
}