nav {
    user-select: none;

    li {
        outline: 0;

        a {
            text-decoration: none;
        }
    }
}


.site-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75px;
    overflow: hidden;
    background: rgba(111, 87, 84, 0.5);
    transition: width .05s linear;
    z-index: 10;
    padding-top: 15px;

    .active {
        color: $coffee;
        background-color: $light-pink;
    }

    .site-nav {
        position: relative;
        display: block;
        width: 180px;
        font-family: beloved-sans, sans-serif;
        font-weight: 700;
        font-style: normal;

        li {

            &:hover {
                background-color: $light-pink;
            }
        }

        a {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: $light-pink;
            font-size: 1rem;
            transition: all 0.1s linear;
            padding: 15px 0;

            &:hover {
                color: $coffee;
            }

            .nav-icon {
                width: 75px;
                height: 25px;
                font-size: 30px;
                text-align: center;
            }
        }
    }

    &:hover {
        width: 180px;
        overflow: visible;
    }
}

.nav-text {
    width: 100px;
    height: 25px;
}