// .hero {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;

//     .about {
//         display: block;
//         justify-content: center;
//         text-align: center;
//         align-items: center;
//     }
// }

body {
    min-height: 100vh;
    background: linear-gradient(165deg, $coral, $light-pink);
}

.container {
    max-width: 75vw;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .title {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;

        h1 {
            font-family: $body;
            color: $light-pink;
        }

        h2 {
            font-family: $script;
            text-transform: none;
            font-size: clamp(2em, 5vw, 5em);
        }
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .title {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 5em auto;
    }
}