// .hero {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;

//     .about {
//         display: block;
//         justify-content: center;
//         text-align: center;
//         align-items: center;
//     }
// }

body {
    min-height: 100vh;
    background: linear-gradient(90deg, $coral, $light-pink);
    grid-template-columns: repeat(12, 1fr);
}

.container {
    max-width: 75vw;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .title {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;

        h1 {
            font-family: $body;
            color: $light-pink;
        }

        h2 {
            font-family: $script;
            text-transform: none;
            font-size: clamp(2em, 5vw, 5em);
        }
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;

    .title {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 5em auto;
    }
}


.software {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
        font-family: $body;
        color: #333;
    }
}

.overview {
    width: 60vw;
    margin: 3em auto;
}

// MEDIA QUERIES

@media (max-width: 767px) {

    .header-nav,
    .footer-nav {
        position: absolute;
        left: -99999px;
        top: -99999px;
    }

    .mobile-nav {
        position: fixed;
        bottom: 0;
        height: 75px;
        width: 100%;
        overflow: hidden;
        background: rgba(111, 87, 84, 0.5);
        transition: width .05s linear;
        z-index: 10;

        ul {
            display: flex;
        }

        li {
            display: block;
            flex-direction: row;
            width: 180px;
            font-family: beloved-sans, sans-serif;
            font-weight: 700;
            font-style: normal;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $coffee;
                font-size: 1rem;
                padding: 25px 0;

                .nav-icon {
                    width: 75px;
                    height: 25px;
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 767px) {
    .mobile-nav {
        position: absolute;
        left: -99999px;
        top: -99999px;
    }
}