.swiper {
    width: 1000px;
    height: 700px;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        background-color: $coffee !important;
        margin: 1.5em;
        // padding: .75em;
    }
}